page-home {
    h2{
        text-align: center;
        font-weight: bold;
    }
    
    h3{
        text-align: center;
    }
    
    img{
        align-self: center;
        margin: auto;
        display: block;
    }
}
